{
    "vpc_cidr":"{{vpc_cidr}}",
    "subnetA_cidr":"{{subnetA_cidr}}",
    "subnetB_cidr":"{{subnetB_cidr}}",
    "availability_zone_a":"{{availability_zone_a}}",
    "availability_zone_b":"{{availability_zone_b}}",
    "instance_type":"{{instance_type}}",
    "secret_key":"{{secret_key_aws}}",
    "access_key":"{{access_key_aws}}"
}
